<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <klevu>
            <indexing>
                <enable_product_sync>1</enable_product_sync>
                <exclude_disabled_products>1</exclude_disabled_products>
                <exclude_oos_products>0</exclude_oos_products>
                <disable_entity_discovery_on_product_attribute_save>0</disable_entity_discovery_on_product_attribute_save>
                <image_height_product>130</image_height_product>
                <image_width_product>130</image_width_product>
                <product_stock_status_calculation_method>stock_item</product_stock_status_calculation_method>
                <use_provider_for_pipelines_stock_status>0</use_provider_for_pipelines_stock_status>
            </indexing>
        </klevu>
    </default>
</config>
