<?xml version="1.0"?>

<!-- Copyright © Klevu Oy. All rights reserved. See LICENSE.txt for license details. -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Catalog\Ui\Component\Listing\Columns\ProductActions">
        <plugin name="Klevu_IndexingProducts::CatalogUiComponentListingColumnsAddHistoryToActions"
                type="Klevu\IndexingProducts\Plugin\Catalog\Ui\Component\Listing\Columns\ProductActionsPlugin"/>
    </type>

    <virtualType name="Klevu\IndexingProducts\Ui\Component\Listing\EntitySyncNextActionDataProvider"
                 type="Klevu\Indexing\Ui\Component\Listing\EntitySyncNextActionDataProvider">
        <arguments>
            <argument name="entityType" xsi:type="string">KLEVU_PRODUCT</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingProducts\Ui\Component\Listing\EntitySyncHistoryDataProvider"
                 type="Klevu\Indexing\Ui\Component\Listing\EntitySyncHistoryDataProvider">
        <arguments>
            <argument name="entityType" xsi:type="string">KLEVU_PRODUCT</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingProducts\Ui\Component\Listing\EntitySyncHistoryConsolidationDataProvider"
                 type="Klevu\Indexing\Ui\Component\Listing\EntitySyncHistoryConsolidationDataProvider">
        <arguments>
            <argument name="entityType" xsi:type="string">KLEVU_PRODUCT</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingProducts\ViewModel\Config\Information\PipelineConfiguration\Product\Add"
                 type="Klevu\PlatformPipelines\ViewModel\Config\Information\PipelineConfiguration">
        <arguments>
            <argument name="pipelineIdentifier" xsi:type="string">KLEVU_PRODUCT::add</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingProducts\ViewModel\Config\Information\PipelineConfiguration\Product\Delete"
                 type="Klevu\PlatformPipelines\ViewModel\Config\Information\PipelineConfiguration">
        <arguments>
            <argument name="pipelineIdentifier" xsi:type="string">KLEVU_PRODUCT::delete</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingProducts\ViewModel\Config\Information\PipelineConfiguration\Product\Update"
                 type="Klevu\PlatformPipelines\ViewModel\Config\Information\PipelineConfiguration">
        <arguments>
            <argument name="pipelineIdentifier" xsi:type="string">KLEVU_PRODUCT::update</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingProducts\Block\Adminhtml\Config\Information\PipelineConfiguration\Product\Add"
                 type="Klevu\Configuration\Block\Adminhtml\Config\Form\KlevuFieldset">
        <arguments>
            <argument name="blockName" xsi:type="string">klevu_indexing_pipeline_configuration_product_add</argument>
            <argument name="template"
                      xsi:type="string">Klevu_PlatformPipelines::system/config/information/pipeline_configuration.phtml</argument>
            <argument name="viewModel"
                      xsi:type="object">Klevu\IndexingProducts\ViewModel\Config\Information\PipelineConfiguration\Product\Add</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingProducts\Block\Adminhtml\Config\Information\PipelineConfiguration\Product\Delete"
                 type="Klevu\Configuration\Block\Adminhtml\Config\Form\KlevuFieldset">
        <arguments>
            <argument name="blockName" xsi:type="string">klevu_indexing_pipeline_configuration_product_delete</argument>
            <argument name="template"
                      xsi:type="string">Klevu_PlatformPipelines::system/config/information/pipeline_configuration.phtml</argument>
            <argument name="viewModel"
                      xsi:type="object">Klevu\IndexingProducts\ViewModel\Config\Information\PipelineConfiguration\Product\Delete</argument>
        </arguments>
    </virtualType>

    <virtualType name="Klevu\IndexingProducts\Block\Adminhtml\Config\Information\PipelineConfiguration\Product\Update"
                 type="Klevu\Configuration\Block\Adminhtml\Config\Form\KlevuFieldset">
        <arguments>
            <argument name="blockName" xsi:type="string">klevu_indexing_pipeline_configuration_product_update</argument>
            <argument name="template"
                      xsi:type="string">Klevu_PlatformPipelines::system/config/information/pipeline_configuration.phtml</argument>
            <argument name="viewModel"
                      xsi:type="object">Klevu\IndexingProducts\ViewModel\Config\Information\PipelineConfiguration\Product\Update</argument>
        </arguments>
    </virtualType>
</config>
